<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FlameDate</title>
  <link rel="icon" type="image/png" href="img/logo.svg"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Onest:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>
  <div class="container-fluid background d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex box rounded-4 overflow-hidden">

      <!-- Panel de Registro (formulario) -->
      <div class="col-md-6 right-panel d-flex flex-column align-items-center justify-content-center p-5">
        <img src="img/logo.svg" alt="Logo" class="brand-logo mb-3" />
        <h1 class="brand-title text-white mb-4">FLAMEDATE</h1>
        <input type="text" class="form-control my-2" placeholder="Nombre de usuario" />
        <input type="email" class="form-control my-2" placeholder="Correo electrónico" />
        <input type="password" class="form-control my-2" placeholder="Contraseña" />
        <button class="btn btn-danger w-100 rounded-pill my-3">Registrarse</button>
        <p class="divider my-3 text-white"><span>OR</span></p>
        <p class="register-link">¿Ya tienes una cuenta? <a href="Login.html" class="fw-bold text-danger text-white text-decoration-underline">Inicia sesión</a></p>
      </div>

      <!-- Panel Visual a la derecha -->
      <div class="col-md-6 left-panel2 d-none d-md-flex flex-column justify-content-center px-5">
        <p class="left-text">
            Empieza a<br>
            buscar quién<br>
            encienda tú<br>
            chispa...
          </p>
      </div>

    </div>
  </div>
</body>
</html>
